.register-wrapper {
    min-height: 80vh;
    padding: 40px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-card {
    border-radius: 15px;
    padding: 30px 20px;
}

.register-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #0d6efd;
    text-transform: uppercase;
    font-family: Raleway, serif;
    font-weight: 700;
}

.register-subtitle {
    font-size: 1rem;
    color: rgba(0,0,0,0.7);
    font-family: Montserrat, serif;
    font-weight: 700;
}

.register-btn {
    background-color: var(--color1) !important;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: Montserrat, serif;
    font-weight: 700;
    transition: transform 0.3s, box-shadow 0.3s;
}
.register-btn:hover {
    background-color: var(--color2) !important;
    color: black !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
